.about-menu{
    display: flex;
}
.about-menu li{
    margin-left: 25px;
    list-style-type: none;
}
.about-menu li a{
    text-decoration: none;
}
.about-menu h4{
    margin: 0;
}
.heading1{
    color: red;
    text-align: center;
    margin-top: 20px;
}